body {
    background-color: lightgrey;
}

.btn {
    cursor: pointer;
}

body {
    color: #34495e;
}

.clicked {
    color: #7f8c8d;
}

.form, .greeting {
    display: none;
}

.showing {
    display: block;
}